@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h4>Access Denied</h4>

 <div class="alert alert-info">
            You do not have permission to access this page!
        </div>
