.margin-top
{
    margin-top:75px;
}




.goal-status-message
{
    margin-left:0px;height:30px;padding:0px 0px 2px 10px;font-size:13px;text-align:center;
}

.supporters-message
{
    margin-left:0px;height:30px;padding:0px 0px 2px 10px;font-size:13px;text-align:center;
}