@model SocialGoal.Web.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Invite Users";
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
<div class="well span10">
<h4>
    Invite People
</h4>
 @Html.Partial("Header")

<br />
<br />
<div  class="span5">
    Name
    <input type="text" id="searchUser"  placeholder="Invite People via Name" onkeypress="SearchUser(event,@Model.GroupId);" /><br />
    <div id="inviteResult">
    </div>
    <center><b>or</b></center>
    <label>Email</label>
    <input type="email" id="Email" placeholder="Invite People via Email" 
        onfocus="EnableInviteBtn()" onblur="DisableInviteBtn();" />
    <button id="btnInvite" class="btn btn-primary" onclick="Invite(@Model.GroupId)" disabled="disabled">
        Invite
    </button>
    <label class="alert alert-info" id="msgGroup" style="display: none;">
    </label>
    <br />
   
</div>
</div>
