@using Mvc.Mailer;
<h4>Join Social Goals</h4>
Hello <br />

I invite you to join Social Goal and enjoy your time!
<a href="@Url.Abs(Url.Action("Login", "Account", new { guid = ViewBag.group }))">Join Now</a>